<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
  </startup>
  <appSettings>
    <clear/>
   
    <!-- 1 veya 0-->
    <add key="SicilRefreshTime" value="15:00"></add>
    <!-- HH:MM olmalı-->
    <add key="StartReCalculate" value="1"></add>


  </appSettings>
  <entityFramework>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
  <connectionStrings>
  <add name="NAR_KGSEntities" connectionString="metadata=res://*/KayseriView.ViewEnt.csdl|res://*/KayseriView.ViewEnt.ssdl|res://*/KayseriView.ViewEnt.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=10.50.8.181;initial catalog=NAR_KGS;persist security info=True;user id=nizamiye_meyer;password=BNY4578bvc%;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="KAYSERIData" connectionString="metadata=res://*/Model.KayseriData.csdl|res://*/Model.KayseriData.ssdl|res://*/Model.KayseriData.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=WIN-SRP6I7JCDGP\MEYER;initial catalog=KAYSERI_MEYER;persist security info=True;user id=sa;password=Meyer1878;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" /></connectionStrings>
</configuration>